/* * {
    margin: 0;
    padding: 0;
} */

main {
    width: 800px;
    height: 1000px;
    margin: 0 auto;
}

div {
    /* border: 1px solid black; */
    height: 200px;
}

.bottomBorder {
    border-bottom: 5px solid black;
}

.rightBorder {
    border-right: 5px solid black;
}

.leftBorder {
    border-left: 5px solid black;
}

section {
    /* border: 1px solid red; */
    width: 260px;
    height: inherit;
    display: inline-block;
}